
*{
      text-transform: capitalize;
 }
body{
      margin: 0px;
      padding: 0px;
    }
.logo{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 50px;
    background-color: rgb(247, 249, 248);
  }
.logo button{
  color: #E5E3DF;
    height: 50px;
    background-color: orangered;
}
 .img1{
    margin-top: 10px;
    vertical-align: middle;
}
.three-dot-menu{
    width: 60px;
    height: 50px;
    justify-content: center;
    text-align: center;
    margin-top: 6px;
    font-size: 30px;
}
.div2{
    display: flex;
    height: 600px;
    width: auto;
    background-color: rgb(9, 9, 9);
    justify-content: space-around; 
    align-items: center;
    display: flex;
}
progress::-webkit-progress-bar{
  background-color: gray;
}

progress::-webkit-progress-value{
  background-color: gray;
}

progress{
  border: none;
  width: 160px;
  height: 8px;
  background: white;
}

progress{
  color: #FF5043;
}

progress::-webkit-progress-value{

  background: #FF5043;
}

progress::-moz-progress-bar{
  background: #FF5043 ;
}

.inner_div2{
    height: 280px;
    width: 495px;
    color: white;
}
.img1{
    height: 400px;
    width: 400px;
}
.div3{
    height: 600px;
    width: auto;
  margin-top: 18px; 
  justify-content: space-around; 
  align-items: center;
  display: flex;
}
.inner_div3{
    height: 300px;
     width: 500px;
}
.servicesContainer {
    height: 100%;
    background-color: #f5f5f7;
    padding: 10px 150px;
  }
  .uppercase {
    text-transform: uppercase;
  }
  .textRed {
    color: #ff5143;
  }
  .service {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  details > summary {
    list-style: none;
  }
  details > summary ::-webkit-details-marker {
    display: none;
  }
  .article{
    display: flex;
    justify-content: space-between;
  }
  .articleText{
    margin-top: 30px;
  }
  .articleItem{
    width: 500px;
  }
  .articleBtns{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    cursor: pointer;
  }
  .articleBtn{
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
    background-color: #fff9c3;
    width: 200px;
  }
  .articleImg{
    height: 390px;
    width: 480px;
  }
 .div5{
    height:90vh;
    width: 100%;
    background-color:white;
    padding: 100px 50px;
}
.div5_img{
    display: flex;
    justify-content: space-evenly;
}
.div5_img1{
    display:inline-block;
        margin: 20px;
        margin-left: 40px;
        height: 400px;
        width: 250px;
        background-color:  rgb(201, 215, 208);
        justify-content: center;
        border-radius:5px;
        text-align: center;
        padding: 10px 5px;
}
.images{
    justify-content: center;
      margin-top: 50px;
}
.imp5{
    margin-left:80px;
} 

div.demo6{
        
  height: 600px;
width: auto;
margin-top: 10px; 
justify-content: space-around; 

}

.div7{
  height: 400px;
  width: 100%;
  text-align: center;
  margin-top: 250px;
}

.inner_div6{
  position: relative;
}
.child{
  position: relative ;
  width:600px;
  background-color: #F5F5F7;
  height:300px;
  margin: -190px 0 50px 30%;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  padding: 5px 0;
}
.childimg{
  border-radius: 50%;
  width: 90px;
  background-color: #FF5043;
  margin-left: 250px;
}
.childimg img{
  height: 90px;
}
.childimg1{
  border-radius: 50%;
  width: 90px;
  margin-left: 250px;
}
.child p{
  color: #53656E;
}
.childfooter{
  display: flex;
  justify-content: space-around;
}
.childfooter span{
  color: #FF5043;
}
.childfooter img{
  height: 25px;
}
.div7 span{
  color: #FF5043;
}
.div7_img{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 50px;
  align-items: center;
}
.div7_img div{
  width: 50px;
}

.div8{
  background-color: #F5F5F7;
  height: 700px;
  width: 100%;
  display: flex;
  margin-top: 100px;
}
.handimg{
  width: 50%;
float: left;
justify-content: center;
}
.handimg img{
  height: 1000px;
  width: 100%;
}
.innerdiv{
  padding: 20px;
  position: relative;
  margin-top: 200px;
  margin-left: 100px;
}
.innerdiv span{
  color: #FF5043;
  
}

.divmargin{
  margin-bottom: 20px;
}

.innerdiv hr{
  margin-top: 20px;
}

.childparaicon{
  float: left;
  width: 50%;
}

.childparaicon2{
  float: left;
  width: 50%;
  text-align: right;
}

.div9{
  padding: 50px 100px;
  position: relative;
  
}
.descdiv span{
  color: #FF5043;
}
.childdesc{
  width: 50%;
  float: left;
  height: 500px;
  background-image: url("./image/blog-card-1-img.png");
  background-size: cover;
  border-radius: 12px;
  padding: 20px;
}
.childdesc2{
  width: 50%;
  float: left;
  height: 489px;
}
.childdescpara{
  bottom: -340px;
  position: relative;
  color: azure;
}
.desc2{
  justify-content: space-between;
}
.first{
  height: 50%;
  background-color: #F5F5F7;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 12px;
}
.second{
  height:50%;
  background-color: #F5F5F7;
  margin-left: 10px;
  border-radius: 12px;
}

.first1{
  float: left;
  width: 50%;
  height: 100%;
  padding: 10px;
  margin: auto;
  
}

.first2{
  float: left;
  width: 50%;
  background-image: url("./image/blog-img-1.png");
  height: 100%;
  background-size: cover;
  border-radius: 12px;
}

.second1{
  width: 50%;
  float: left;
  background-image: url("./image/story-img-1.png");
  height: 100%;
  background-size: cover;
  border-radius: 12px;
}

.second2
{
  width: 50%;
  float: left;
  height: 100%;
  padding: 10px;
  margin: auto;
}

.div10{
  background-image: url("./image/work-bg.png");
  height: 700px;
  width: 100%;
  margin-top: 460px;
  background-size: cover;
  display: flex;
}
.opa{
  margin: auto;
  color: white;
  text-align: center;
}
.opa span{
  color: #FF5043;
}

.last{
  background-color: #E5E3DF;
  height: 500px;
  display: block;
  padding: 50px 0;
}
.lastone{
  margin: auto;
  width: 85%;
}
.lastone img{
  margin-bottom: 20px;
}
.lastone2{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.lastone2 ul{
  list-style: none;
  padding: 0;
}
.lastone2 ul li{
  font-size: 14px;
}
.lastone3{
  float: right;
}
.lastone3 img{
   margin-right: 95px;
}

.last{
      background-color: #E5E3DF;
      height: 500px;
      display: block;
      padding: 50px 0;
    }
    .lastone{
      margin: auto;
      width: 85%;
    }
    .lastone img{
      margin-bottom: 20px;
    }
    .lastone2{
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }
    .lastone2 ul{
      list-style: none;
      padding: 0;
    }
    .lastone2 ul li{
      font-size: 14px;
    }
    .lastone3{
      float: right;
    }

    .footer{
      border-color: #E9E9E9;
      display: flex;
      width: 100%;
      height: 50px;
    }
    .footer1{
      margin: auto;
    width: 85%;
    display: flex;
  }